<!doctype html>
<html lang="es">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><img id="letras-escudo" src="/assets/img/letras-escudo.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {{- block "nav-items" . }}
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lol">League of Legends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logros">Logros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/crowscrew">Crows Crew</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
            {{- end }}
          </ul>
        </div>
      </div>
    </nav>    

    {{- block "main" . }}{{- end }}

    {{- partial "javascript.html" . -}}
  </body>
</html>