{{ define "nav-items" }}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEquipos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Equipos
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownEquipos">
    <a class="dropdown-item" href="/lol">League of Legends</a>
    <a class="dropdown-item" href="/crowscrew">Crows Crew</a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="/logros">Logros</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contacto">Contacto</a>
</li>
{{ end }}

{{ define "main" }}
<div class="container">
  <div class="justify-content-center align-items-center text-center">
    <img id="logo" src="/assets/img/rising-crows.png" />
  </div>
  <div class="justify-content-center align-items-center text-center mt-4 mb-4">
    <h1>Crows Crew</h1>
  </div>
</div>

<div class="container">
  <div class="justify-content-center align-items-center text-center">   
    <div class="streamer-list">
      <div class="streamer">
        <h3 class="streamer-name">SoloQTilted</h3>
        <a target="_blank" href="http://twitch.tv/Soloqtilted"><i class="icon icon-twitch"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC6sVLdUhGIwogL7YaptY8tg"><i class="icon icon-youtube"></i></a>
        <a target="_blank" href="https://www.instagram.com/soloqtilted/"><i class="icon icon-instagram"></i></a>
        <a target="_blank" href="https://discord.gg/Vj5uhCnCA3"><i class="icon icon-discord"></i></a>
      </div>
      <div class="streamer">
        <h3 class="streamer-name">Zenitochi</h3>
        <a target="_blank" href="http://twitch.tv/zenitochi"><i class="icon icon-twitch"></i></a>
        <a target="_blank" href="https://twitter.com/Zenitochi"><i class="icon icon-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com/zenitochi"><i class="icon icon-instagram"></i></a>
        <a target="_blank" href="https://discord.gg/EhCReY2"><i class="icon icon-discord"></i></a>
      </div>
      <div class="streamer">
        <h3 class="streamer-name">MVP Gogeta</h3>
        <a target="_blank" href="http://www.twitch.tv/mvp_gogeta"><i class="icon icon-twitch"></i></a>
        <a target="_blank" href="https://twitter.com/GogetaMvp"><i class="icon icon-twitter"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC1_ikF9nDXdOqyUF-OR_xDw"><i class="icon icon-youtube"></i></a>
        <a target="_blank" href="https://discord.gg/n3AMBtm2Gc"><i class="icon icon-discord"></i></a>
      </div>
      <div class="streamer">
        <h3 class="streamer-name">RocketH14</h3>
        <a target="_blank" href="http://twitch.tv/rocketh14"><i class="icon icon-twitch"></i></a>
        <a target="_blank" href="https://twitter.com/Rocket1413"><i class="icon icon-twitter"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC4H_ngRgEAn7XCfR8vZLk8A"><i class="icon icon-youtube"></i></a>
        <a target="_blank" href="https://www.instagram.com/hector.m_04"><i class="icon icon-instagram"></i></a>
      </div>
      <div class="streamer">
        <h3 class="streamer-name">ZZviente0</h3>
        <a target="_blank" href="https://www.twitch.tv/zzviente0"><i class="icon icon-twitch"></i></a>
        <a target="_blank" href="https://twitter.com/zviente"><i class="icon icon-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com/feixaas_cml/"><i class="icon icon-instagram"></i></a>
      </div>
      <div class="streamer">
        <h3 class="streamer-name">lokoambk05</h3>
        <a target="_blank" href="https://www.twitch.tv/lokoambk05"><i class="icon icon-twitch"></i></a>
      </div>
    </div>
  </div>
</div>
{{ end }}