{{ define "nav-items" }}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/lol">League of Legends</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/crowscrew">Crows Crew <span class="sr-only">(current)</span></a>
</li>
{{ end }}

{{ define "main" }}
<div class="container">
  <div class="justify-content-center align-items-center text-center">
    <img id="logo" src="/assets/img/rising-crows.png" />
  </div>
  <div class="justify-content-center align-items-center text-center mt-4 mb-4">
    <h1>Crows Crew</h1>
  </div>
</div>

<div class="container">
  <div class="justify-content-center align-items-center text-center">   
    <ul id="streamers">
      <li><a target="_blank" href="http://twitch.tv/Soloqtilted">SoloQTilted</a></li>
      <li><a target="_blank" href="http://www.twitch.tv/zenitochi">Zenitochi</a></li>
      <li><a target="_blank" href="http://www.twitch.tv/mvp_gogeta">MVP Gogeta</a></li>
      <li><a target="_blank" href="http://twitch.tv/rocketh14">RocketH14</a></li>
      <li><a target="_blank" href="https://www.twitch.tv/zzviente0">ZZviente0</a></li>
      <li><a target="_blank" href="https://www.twitch.tv/lokoambk05">lokoambk05</a></li>
      <li><a target="_blank" href="https://www.twitch.tv/semerkhet2012">Semer</a></li>
    </ul>
  </div>
</div>
{{ end }}