{{ define "main" }}
{{- partial "hero.html" . -}}

<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" >


<div class="container">
    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
      <div class="col-lg-5 col-sm-12">
          <div class="position-relative">
              <img src="/assets/img/logros/rpleague.png" alt="">
              <div class="events-date">
                  <div class="font-size28">Ene</div>
                  <div class="font-size14">2021</div>
              </div>
          </div>
      </div>
      <div class="col-lg-7 col-sm-12">
          <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
              <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">RPLeague</h5>
              <p>Nos incorporamos a la 2ª división de la competición Ranked Players League (RPL).</p>
          </div>
      </div>
   </div>
  <!-- end event block -->

  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters margin-40px-bottom">
      <div class="col-lg-7 order-2 order-lg-1">
          <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
              <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">CDA Esports</h5>
              <p>Nos incorporamos a la 2ª división de la competición CDA Esports.</p>
          </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2">
          <div class="position-relative">
              <img src="/assets/img/logros/cdaesports.png" alt="">
              <div class="events-date">
                  <div class="font-size28">Ene</div>
                  <div class="font-size14">2021</div>
              </div>
          </div>
      </div>
  </div>
  <!-- end event block -->
    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img src="/assets/img/logros/godsofolympus.jpg" alt="">
                <div class="events-date">
                    <div class="font-size28">Dic</div>
                    <div class="font-size14">2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">Gods Of Olympus</h5>
                <p>Nos incorporamos a la 2ª división de la competición Gods of Olympus.</p>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">LOP Invernal</h5>
                <p>Llegamos a cuartos de final de los play-offs del torneo LOP Invernal, el split de invierno de la comunidad LOP Esports.</p>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative">
                <img src="/assets/img/logros/lopesports.jpg" alt="">
                <div class="events-date">
                    <div class="font-size28">Dic</div>
                    <div class="font-size14">2020</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img src="/assets/img/logros/riftchampions.jpg" alt="">
                <div class="events-date">
                    <div class="font-size28">Dic</div>
                    <div class="font-size14">2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">Rift Champions</h5>
                <p>Finalista en la liga Rift Champions.</p>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">Riders of Games Elite</h5>
                <p>Semifinalista en la liga ROG Elite, la máxima competición de la comunidad Riders of Games.</p>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative">
                <img src="/assets/img/logros/ridersofgames.jpg" alt="">
                <div class="events-date">
                    <div class="font-size28">Nov</div>
                    <div class="font-size14">2020</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img src="/assets/img/logros/rcw.jpg" alt="">
                <div class="events-date">
                    <div class="font-size28">Oct</div>
                    <div class="font-size14">2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">Fundación</h5>
                <p>Fundación del club y creación del roster de League of Legends.</p>
            </div>
        </div>
    </div>
    <!-- end event block -->

</div>
</section>
<div class="container">
  <div class="justify-content-center align-items-center text-center">   
    <div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
    </ul>
  </div>
</div>
{{ end }}