{{ define "nav-items" }}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEquipos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Equipos
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownEquipos">
    <a class="dropdown-item" href="/lol">League of Legends</a>
    <a class="dropdown-item" href="/crowscrew">Crows Crew</a>
  </div>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/logros">Logros <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contacto">Contacto</a>
</li>
{{ end }}

{{ define "main" }}
<div class="container">
  <div class="justify-content-center align-items-center text-center">
    <img id="logo" src="/assets/img/rising-crows.png" />
  </div>
  <div class="justify-content-center align-items-center text-center mt-4 mb-4">
    <h1>Logros</h1>
  </div>
</div>

<div class="container">
  <div class="justify-content-center align-items-center text-center">   
    <div>
      <div>
        <p>Enero 2020: Nos incorporamos a la 2ª división de la competición CDA Esports.</p>
      </div>
      <div>
        <p>Diciembre 2020: Nos incorporamos a la 2ª división de la competición Gods of Olympus.</p>
      </div>
      <div>
        <p>Diciembre 2020: Cuartos de final en el torneo LOP Invernal, el split de invierno de la comunidad LOP Esports.</p>
      </div>
      <div>
        <p>Diciembre 2020: Finalista en la liga Rift Champions.</p>
      </div>
      <div>
        <p>Noviembre 2020: Semifinalista en la liga ROG Elite, la máxima competición de la comunidad Riders of Games.</p>
      </div>
      <div>
        <p>Octubre 2020: Fundación del club y creación del roster de League of Legends.</p>
      </div>
    </ul>
  </div>
</div>
{{ end }}