{{ define "main" }}
{{- partial "hero.html" . -}}

<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" >
  <div class="container">
    <h2>Conoce al equipo directivo</h2>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3 i">
        <div class="c text-center">
          <div class="wrap">
            <img src="/assets/img/staff/semer.jpg" alt="#" width="270" height="270" class="img-responsive">
            <div class="info">
              <h3 class="name">Pedro Pardal "Semer"</h3>
              <h4 class="position">CEO & Fundador</h4>
            </div>
          </div>
          <div>
            <a target="_blank" href="http://twitch.tv/semerkhet2012"><i class="icon icon-twitch"></i></a>
            <a target="_blank" href="https://twitter.com/RCWSemer"><i class="icon icon-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 i">
        <div class="c text-center">
          <div class="wrap">
            <img src="/assets/img/staff/dummy.jpg" alt="#" width="270" height="270" class="img-responsive">
            <div class="info">
              <h3 class="name">Ángel Núñez "Gogeta"</h3>
              <h4 class="position">Manager LoL</h4>
            </div>
          </div>
          <div>
            <a target="_blank" href="http://www.twitch.tv/mvp_gogeta"><i class="icon icon-twitch"></i></a>
            <a target="_blank" href="https://twitter.com/GogetaMvp"><i class="icon icon-twitter"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC1_ikF9nDXdOqyUF-OR_xDw"><i class="icon icon-youtube"></i></a>
            <a target="_blank" href="https://discord.gg/n3AMBtm2Gc"><i class="icon icon-discord"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 i">
        <div class="c text-center">
          <div class="wrap">
            <img src="/assets/img/staff/dummy.jpg" alt="#" width="270" height="270" class="img-responsive">
            <div class="info">
              <h3 class="name">Rafa "Wzzyz11"</h3>
              <h4 class="position">Head Coach LoL</h4>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 i">
        <div class="c text-center">
          <div class="wrap">
            <img src="/assets/img/staff/dummy.jpg" alt="#" width="270" height="270" class="img-responsive">
            <div class="info">
              <h3 class="name">Sergio Bosma</h3>
              <h4 class="position">Strategic Coach LoL</h4>
            </div>
          </div>
          <div>
            <a target="_blank" href="https://twitter.com/BosmaTheNL"><i class="icon icon-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 i">
        <div class="c text-center">
          <div class="wrap">
            <img src="/assets/img/staff/dummy.jpg" alt="#" width="270" height="270" class="img-responsive">
            <div class="info">
              <h3 class="name">Hector Martínez "Rocket"</h3>
              <h4 class="position">Psicólogo deportivo</h4>
            </div>
          </div>
          <div>
            <a target="_blank" href="http://twitch.tv/rocketh14"><i class="icon icon-twitch"></i></a>
            <a target="_blank" href="https://twitter.com/Rocket1413"><i class="icon icon-twitter"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC4H_ngRgEAn7XCfR8vZLk8A"><i class="icon icon-youtube"></i></a>
            <a target="_blank" href="https://www.instagram.com/hector.m_04"><i class="icon icon-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" >
  <div class="container">
    <h2>Únete al equipo</h2>
    <p>
      Actualmente buscamos cubrir las siguientes posiciones:
      <ul>
        <li><a href="/careers/stream-manager">Stream Manager</a></li>
        <li>Community Manager</li>
        <li>Editor de vídeo (YouTube)</li>
        <li>Casters</li>
        <li>Director Audiovisual</li>
        <li>Realizador (streaming partidos de competición)</li>
        <li>Jugadores suplentes (ELO platino/diamante)</li>
        <li>Manager juegos alternativos (Fortnite, FIFA, Valorant, Rocket League)</li>
      </ul>
    </p>
    <p>
      ¿Te interesa aplicar para alguna de estas posiciones? ¿Quieres colaborar con nosotros pero tu area de expertise no está en la lista? En cualquier caso, envíanos tu candidatura en el siguiente formulario:
    </p>
    <p>
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdDG5DE0t0Aiu4fAp1xb9bCMqAPTqL6Nk_2ZOCv08_BaMuxlQ/viewform?usp=sf_link" class="btn btn-primary">Enviar mi candidatura al staff</a>
    </p>
  </div>
</section>
{{ end }}