{{ define "main" }}
    <div class="container">
      <div class="justify-content-center align-items-center text-center">
        <img id="logo" src="/assets/img/rising-crows.png" />
      </div>
      <div class="justify-content-center align-items-center text-center">
        <p>
          Somos un equipo amateur de League of Legends de España (servidor EUW). Nuestro objetivo es mejorar día a día para llegar a competir en el Circuito Tormenta durante la temporada 2021. El nivel medio de nuestro equipo actualmente es Platino.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="justify-content-center align-items-center text-center">   
        <ul id="streamers">
          <li><a target="_blank" href="https://twitter.com/rising_crows">Twitter</a></li>
          <li><a target="_blank" href="https://www.twitch.tv/rising_crows">Twitch</a></li>
          <li><a target="_blank" href="https://discord.com/invite/NzYERSAJTj">Discord</a></li>
        </ul>
      </div>
    </div>
{{ end }}