{{ define "main" }}
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:100vh; background-size: cover; background-image: url(/assets/img/background-particles.png);">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center d-flex text-center h-100">
      <div class="col-12 col-md-8 h-50">
        <h1 class="display-2 mb-2 mt-5"><strong>Rising Crows e-Sports</strong> </h1>
        <p class="lead text-light mb-5">Somos un equipo amateur de League of Legends de España</p>
        <p><a href="/lol" class="btn bg-primary shadow-lg btn-round text-light btn-lg btn-rised">Conoce nuestro equipo ></a></p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="justify-content-center align-items-center text-center">
    <p>
      Somos un equipo amateur de League of Legends de España (servidor EUW). Nuestro objetivo es mejorar día a día para llegar a competir en el Circuito Tormenta durante la temporada 2021. El nivel medio de nuestro equipo actualmente es Platino.
    </p>
  </div>
</div>

<div class="container">
  <div class="justify-content-center align-items-center text-center">   
    <ul id="streamers">
      <li><a target="_blank" href="https://twitter.com/rising_crows">Twitter</a></li>
      <li><a target="_blank" href="https://www.twitch.tv/rising_crows">Twitch</a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCQ0Mt6zizSyxirEw9VBQHGg">YouTube</a></li>
      <li><a target="_blank" href="https://discord.com/invite/NzYERSAJTj">Discord</a></li>
    </ul>
  </div>
</div>
{{ end }}