html {
	font-size: 15pt;
    background-color: black;
}

body {
    color: white;
    font-family: 'Roboto';
    background-color: black;
}

#logo {
    width: 25em;
}

ul {
    padding: 0px;
}

#streamers li {
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;   
    border-color: white;
    border-style: solid;
    border-width: 1px;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

#streamers li a {
    color: white;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

#streamers li a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}

#letras-escudo {
    height: 3em;
}

h1 {
    font-family: 'Robotech GP';
    color: #ca62c2;
    font-size: 3em;
}

h2 {
    font-family: 'Robotech GP';
    color: #ca62c2;
    font-size: 2.5em;
}

@font-face {
    font-family: 'Robotech GP';
    src: url('/assets/font/robotech-gp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

i.icon {
    margin: 0.5em;
}

i.icon:before {
    content: '';
    display: inline-block;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    width: 1.5em; 
    height: 1.5em;
    background-color: transparent;
    filter: invert(100%);
}

i.icon.icon-youtube:before {
    background-image: url('/assets/img/social-icons/icon-youtube.png');
}

i.icon.icon-twitch:before {
    background-image: url('/assets/img/social-icons/icon-twitch.png');
}

i.icon.icon-discord:before {
    background-image: url('/assets/img/social-icons/icon-discord.png');
}

i.icon.icon-twitter:before {
    background-image: url('/assets/img/social-icons/icon-twitter.png');
}

i.icon.icon-facebook:before {
    background-image: url('/assets/img/social-icons/icon-facebook.png');
}

i.icon.icon-instagram:before {
    background-image: url('/assets/img/social-icons/icon-instagram.png');
}

i.icon.icon-opgg:before {
    background-image: url('/assets/img/social-icons/icon-opgg.png');
}

.streamer-list .streamer {
    margin: 1em;
}

h3.streamer-name {
    display: inline-block;
    margin-right: 1em;
    font-size: 16pt;
}

// LOGROS

.events-date {
    text-align: center;
    position: absolute;
    right: 90px;
    top: 30px;
    background-color: rgba(25, 47, 89, 0.9);
    color: #fff;
    padding: 12px 20px 8px 20px;
    text-transform: uppercase
}

.event-block {
    box-shadow: 0px 0px 16px 0px rgba(187, 187, 187, 0.48)
}

.event-block ul li i {
    color: #59c17a
}

@media screen and (max-width: 1199px) {
    .event-date {
        padding: 10px 18px 6px 18px
    }
}

@media screen and (max-width: 575px) {
    .event-date {
        padding: 8px 15px 4px 15px
    }
    .events-date {
        padding: 10px 15px 6px 15px
    }
}

.position-relative {
    position: relative !important;
}

.margin-40px-bottom {
    margin-bottom: 40px;
}
.padding-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}

.margin-15px-bottom {
    margin-bottom: 15px;
}
.font-weight-500 {
    font-weight: 500;
}
.font-size22 {
    font-size: 22px;
}
.text-theme-color {
    color: #192f59;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.margin-10px-right {
    margin-right: 10px;
}

.staff-member h3.name {
    font-size: 1.25em;
}

.staff-member h4.position {
    font-size: 1em;
}

.jobs {
    color: black;
}