html {
	font-size: 15pt;
    background-color: black;
}

body {
    color: white;
    font-family: 'Roboto';
    background-color: black;
}

#logo {
    width: 25em;
}

ul {
    padding: 0px;
}

#streamers li {
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;   
    border-color: white;
    border-style: solid;
    border-width: 1px;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

#streamers li a {
    color: white;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

#streamers li a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}

#letras-escudo {
    height: 3em;
}

h1 {
    font-family: 'Robotech GP';
    color: #ca62c2;
    font-size: 3em;
}

@font-face {
    font-family: 'Robotech GP';
    src: url('/assets/font/robotech-gp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

i.icon {
    margin: 0.5em;
}

i.icon:before {
    content: '';
    display: inline-block;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    width: 1.5em; 
    height: 1.5em;
    background-color: transparent;
    filter: invert(100%);
}

i.icon.icon-youtube:before {
    background-image: url('/assets/img/social-icons/icon-youtube.png');
}

i.icon.icon-twitch:before {
    background-image: url('/assets/img/social-icons/icon-twitch.png');
}

i.icon.icon-discord:before {
    background-image: url('/assets/img/social-icons/icon-discord.png');
}

i.icon.icon-twitter:before {
    background-image: url('/assets/img/social-icons/icon-twitter.png');
}

i.icon.icon-facebook:before {
    background-image: url('/assets/img/social-icons/icon-facebook.png');
}

i.icon.icon-instagram:before {
    background-image: url('/assets/img/social-icons/icon-instagram.png');
}

.streamer-list .streamer {
    margin: 1em;
}

h3.streamer-name {
    display: inline-block;
    margin-right: 1em;
    font-size: 16pt;
}